<div class="container-fluid bg-dark">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-xxl-3 col-lg-4 col-md-5 col-sm-7 h-50 rounded bg-secondary login">
            <div class="row h-100 d-flex justify-content-center align-items-center">
                <div class="col-12 p-2 d-flex justify-content-center align-items-center">
                    <img src="./../../../assets/logo_inmobiliaria.webp" alt="">
                </div>
                <div class="col-12">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-11 d-flex justify-content-center align-items-center">
                            <button class="btn btn-lg border-secondary d-flex justify-content-center align-items-center google_button">
                                <img src="https://img.icons8.com/color/22/000000/google-logo.png"> 
                                <h5 class="m-1 d-flex justify-content-center align-items-center" (click)="login()">Sign in with Google</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>